<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SwanDbEntities" connectionString="Data Source=40f6db42-b7be-4d54-afca-a735013e4afa.sqlserver.sequelizer.com;initial catalog=db40f6db42b7be4d54afcaa735013e4afa;persist security info=True;user id=sjkbqoaawcevlvpe;password=qkfTzX36DkQ5xaVLgq6hkDq8bAfwnmrWZq3qXhd4BAECYeL2rFTk3C7T3gR8RDRs;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
